*{
    margin: 0px;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;


}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background:url('/static/images/supplymaps.png') no-repeat; */
    background-size: cover;
    background-position:center;

}

th:first-child, td:first-child {
    width: 50%;
}

th:last-child, td:last-child {
    width: 50%;
}

.table-container {
    width: 50%;
    float: left;
    margin: 10px;
    padding: 10px;
}

