{% extends 'base.html' %}

{% block head %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Page</title>
        <link rel = "stylesheet" type ="text/css" href="{{url_for('static', filename = '/css/style.css')}}">  

{% endblock %}


    
{% block content %}
    
        
            <h1>About A Company</h1>
            <p>A Company was founded in 2005 with the goal of providing high-quality products and services to customers around the world. We specialize in creating innovative solutions that help businesses of all sizes achieve their goals and stay ahead of the competition.</p>
            <p>Our team is made up of experienced professionals who are passionate about what they do. We work closely with our clients to understand their unique needs and develop customized solutions that meet their specific requirements.</p>
            <p>At A Company, we are committed to excellence in everything we do. We pride ourselves on our attention to detail, our commitment to customer service, and our ability to deliver results that exceed our clients' expectations.</p>
        
{% endblock %}
