{% extends 'base.html' %}

{% block head %}

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Page</title>
        <link rel = "stylesheet" type ="text/css" href="{{url_for('static', filename = '/css/style.css')}}">  

{% endblock %}


    
{% block content %}
    

    <h1>Contact Us</h1>
    <p>Thank you for your interest in A company. You can contact us using the following details:</p>
    <ul>
        <li>Address: 123 Main Street, Anytown, Sri Lanka</li>
        <li>Phone: 555-1234</li>
        <li>Email: info@acompany.com</li>
    </ul>

            
        
{% endblock %}

        
    