{% extends 'base.html' %}

{% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home page</title>
    <link rel = "stylesheet" type ="text/css" href="{{url_for('static', filename =  '/css/style.css')}}">
    <!-- <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>  -->
{% endblock %}

{% block nav %}

<li class="nav-item">
    <a class="nav-link " aria-current="page" href="/register">Register</a>
   
</li>

<li class="nav-item">
   <a class="nav-link " aria-current="page"  href="/login">Login</a>
</li>
  
    
{% endblock %}

{% block content %}




    <div class="wrapper">
        <img src="static/images/check our annual report (2).png">
        <img src="static/images/check our annual report (4).png">
        <img src="static/images/check our annual report.png">
        <img src="static/images/check our annual report (4).png">
    </div>

{% endblock %}