{% extends 'base.html' %}

{% block head %}
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/userlist.css') }}">
     <link rel = "stylesheet" type ="text/css" href="{{url_for('static', filename = '/css/navbar.css')}}">  
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"> 
{% endblock %}

{% block content %}
<div class="wrapper">
    <br/><br/>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Total price</th>
              <th scope="col">Transaction date</th>
            </tr>
        </thead>
        <tbody>
          {% for report in report_data %}
          <tr>
            <td>{{ re[0] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
