{% extends 'base.html' %}

{% block head %}
     <link rel = "stylesheet" type ="text/css" href="{{url_for('static', filename = '/css/login.css')}}">
     <link rel = "stylesheet" type ="text/css" href="{{url_for('static', filename = '/css/navbar.css')}}">  
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'> 
{% endblock %}

{% block nav %}

<li class="nav-item">
    <a class="nav-link " aria-current="page" href="/report">Report</a>
</li>
<li class="nav-item">
    <a class="nav-link " aria-current="page" href="/store_order">Store Order</a>
</li>
<li class="nav-item">
    <a class="nav-link " aria-current="page" href="/logout">Logout</a>
</li>

{% endblock %}

{% block content %}



{% endblock %}