{% extends 'base.html' %}

{% block head %}
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/userlist.css') }}">
     <link rel = "stylesheet" type ="text/css" href="{{url_for('static', filename = '/css/navbar.css')}}">  
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"> 
{% endblock %}

{% block content %}
<div class="wrapper">
    <br/><br/>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
              <th scope="col">Email</th>
              <th scope="col">Type</th>
              <th scope="col">Date Added</th>
            </tr>
        </thead>
        <tbody>
          {% for user in our_users %}
          <tr>
            <td>{{ user[0] }}</td>
           
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[6] }}</td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
